extends layout

block body
  .row.main-page-body
    .col-xs-12.col-sm-6.col-md-4.text-center
      ul
        each val in units
          if (val.isShip && val.canAttack)
            input.form-control(type='number', placeholder='#{val.name}', title='#{val.name}')
    .col-xs-12.col-sm-6.col-md-4.text-center
      ul
        each val in units
          if (val.isShip && val.canAttack)
            input.form-control(type='number', placeholder='#{val.name}', title='#{val.name}')
    .col-xs-12.col-sm-6.col-md-4.text-center
      ul
        each val in units
          if !val.canAttack
            input.form-control(type='number', placeholder='#{val.name}', title='#{val.name}')

block feet
  script(type='text/javascript').
    window.OGLemonade = {};
    window.OGLemonade.units = #{units};
    window.OGLemonade.presets = #{presets};
  script(src='/views/index.js')
